<header class="c-header u-bg-gray-light u-pv-small">
	<div class="o-wrapper">
		<a class="c-header__logo" href="/">{{ site.title }}</a>

		<nav class="c-header__nav">
			<ul class="o-list-bare c-header__list">
				<li class="c-header__list-item">
					<a class="c-header__link" href="{{ "/philosophy" | prepend:  site.github.url }}">Philosophy</a>
				</li>
				<li class="c-header__list-item">
					<a class="c-header__link" href="{{ "/documentation" | prepend:  site.github.url }}">Documentation</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
