
.c-documentation {
  @include media-query(m) {
    display: flex;
    flex-direction: row;
  }
}

.c-documentation__nav {
  padding: $spacing/2;
  background: $gray-x-light;

  @include media-query(s) {
    max-height: 140px;
    box-shadow: inset 0 0px 8px rgba(0,0,0,.3);
    overflow-y: scroll;

  }

  @include media-query(m) {
    padding: $spacing;
    width: calc(50vw - 412px);
    min-width: 290px;
  }
}

.c-documentation__nav-heading {
  color: $gray;
}

.c-documentation__nav-link {
  display: block;
  position: relative;
  font-family: $font-headings;
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease, transform 0.3s ease;

  &:hover, &:active, &:focus {
    color: $primary;
    transform: translateX($spacing/6);
  }
}

  .c-documentation__nav-link--current {
    &:before {
      content: "";
      position: absolute;
      left: -($spacing/2);
      top: 50%;
      transform: translate(0, -50%);
      transition: transform 0.3s ease;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 0 6px 8px;
      border-color: transparent transparent transparent $primary;
    }

    &:hover, &:active, &:focus {
      &:before {
        transform: translate(-($spacing/6), -50%);
      }
    }
  }

.c-documentation__content {
  @include media-query(m) {
    padding: $spacing 0 0 $spacing;
  }
}

.c-documentation__heading {
  font-weight: 800;
  color: $primary;
  margin-bottom: $spacing;
}
