.c-hero {
  padding: ($spacing*2) 0;
}

  .c-hero--dark {
    background: $primary;

    .c-hero__title--emphasized {
      color: $white;
    }
  }

.c-hero__title {
  display: block;
  font-family: $font-headings;
  font-weight: 800;
  @include font-size(64px,1);
  color: $primary-light;
}

  .c-hero__title--emphasized {
    color: $primary;
  }
