
// Colors
$black: #000;
$text-color: #292929;
$white: white;
$gray: #767676;
  $gray-light: #D3D3D3;
  $gray-x-light: #F5F5F5;

$primary: #18737F;
  $primary-light: #77ABB3;
  $primary-x-light: #E8F1F2;

$settings: $primary;
$tools: $primary-light;
$generic: #45D4A5;
$base: #F1C40E;
$objects: #FF7100;
$trumps: #C0390B;
