.u-bg-settings{
	background-color: $settings;
	color: $white;
}

.u-bg-tools{
	background-color: $tools;
	color: $white;
}

.u-bg-generic{
	background-color: $generic;
	color: $white;
}

.u-bg-base{
	background-color: $base;
}

.u-bg-objects{
	background-color: $objects;
	color: $white;
}

.u-bg-trumps{
	background-color: $trumps;
	color: $white;
}
