<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

      <div class="c-hero">
        <div class="o-wrapper">
          <span class="c-hero__title">Aleut.css</span>
          <h1 class="c-hero__title c-hero__title--emphasized">{{ page.title }}</h1>
        </div>
      </div>

      <div class="o-wrapper">
        <div class="c-editable">
          {{ content }}
        </div>
      </div>

    {% include footer.html %}
	<script src="/js/zepto.min.js"></script>
	<script src="/js/main.js"></script>
  <script src="/js/prism.js"></script>
  </body>

</html>
