<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

      <div class="c-hero c-hero--dark">
        <div class="o-wrapper">
          <span class="c-hero__title">Aleut.css</span>
          <h1 class="c-hero__title c-hero__title--emphasized">Documentation</h1>
        </div>
      </div>

      <div class="c-documentation">
        <nav class="c-documentation__nav">
            <h1 class="u-accessibility">Navigation</h1>
            <h2 class="u-delta u-mb-small"><a class="c-documentation__nav-link" href="/documentation/">Introduction</a></h2>

            {% include documentation-nav.html %}
        </nav>
        <article class="c-documentation__content">
          <div class="o-wrapper">

            <article class="c-editable">
              <h1 class="c-documentation__heading">{{page.title}}</h1>


              <div class="o-media">
                  <img src="/path/to/image.png" alt="" class="o-media__img" />
                  <div class="o-media__body">
                      <p>Text-like content goes here.</p>
                  </div>
              </div>

              <div class="o-media  o-media--flush  o-media--rev">
                  <img src="/path/to/image.png" alt="" class="o-media__img" />
                  <div class="o-media__body">
                      <p>Text-like content goes here.</p>
                  </div>
              </div>

              {{ content }}


              	{% capture readme %}
              		{% include /node_modules/{{page.package}}/README.md %}
              	{% endcapture %}
              	{{ readme | markdownify }}

            </article>
          </div>
        </article>
      </div>



    {% include footer.html %}
  </body>

</html>
